<a href="https://colab.research.google.com/github/gitmapd/AOC/blob/main/Euribor.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from pathlib import Path
#!npx degit gitmapd/AOC/inputs inputs -f
import requests
from bs4 import BeautifulSoup
import pandas as pd
import matplotlib.pyplot as plt

In [33]:

dic = {}
response = requests.get("https://www.euribor-rates.eu/pt/taxas-euribor-actuais/2/euribor-taxa-3-meses")
soup = BeautifulSoup(response.text,"html.parser")
a=soup.find("div",{"class":"card-body"})
for name in soup.find_all("tr"):
    cells = name.find_all("td")
    date= cells[0].text
    values = cells[1].text
    dic.update({date:values})
df = pd.DataFrame.from_dict(dic.items(), orient='columns')
df.columns = ['Date','Percentage']
df['Date'] = pd.to_datetime(df['Date'], dayfirst=True).dt.strftime('%A %d/%m/%Y')
df['Percentage']=df['Percentage'].str.replace(",",".")
df['Percentage']=df['Percentage'].str.rstrip("%").astype(float)
print(f"The mean of last three months is: {df['Percentage'][::-1].tail(3).mean()}")
#plt.xlabel("Anos")
#plt.ylabel("%")
#plt.plot(df["Date"], df["Percentage"])
df

The mean of last three months is: 2.332333333333333

                    Date  Percentage
0     Tuesday 17/01/2023       2.335
1      Monday 16/01/2023       2.334
2      Friday 13/01/2023       2.328
3    Thursday 12/01/2023       2.288
4   Wednesday 11/01/2023       2.298
5     Tuesday 10/01/2023       2.284
6      Monday 09/01/2023       2.270
7      Friday 06/01/2023       2.254
8    Thursday 05/01/2023       2.178
9   Wednesday 04/01/2023       2.170
10     Monday 02/01/2023       2.162
11   Thursday 01/12/2022       1.972
12    Tuesday 01/11/2022       1.737
13     Monday 03/10/2022       1.185
14   Thursday 01/09/2022       0.712
15     Monday 01/08/2022       0.246
16     Friday 01/07/2022      -0.176
17  Wednesday 01/06/2022      -0.335
18     Monday 02/05/2022      -0.416
19     Friday 01/04/2022      -0.461
20     Monday 03/01/2022      -0.570
21     Monday 04/01/2021      -0.546
22   Thursday 02/01/2020      -0.379
23  Wednesday 02/01/2019      -0.310
24    Tuesday 02/01/2018      -0.329
25     Monday 02/01/2017      -0.318
26     Monday 04/01/2016      -0.132
27     Friday 02/01/2015       0.076
28   Thursday 02/01/2014       0.284

In [16]:
from datetime import date
start = date(2022, 11, 1)
end = date(2022, 11, 30)
days = pd.bdate_range(start,end)
days_range = pd.bdate_range(start, end).format(formatter=lambda x: x.strftime('%Y-%m-%d'))
days_name = days.day_name()

In [13]:
a=dict(zip(days_range,days_name))